.timer {
  display: flex;
  justify-content: center;
}

.field span {
  display: block;
}

.label {
  color: #aaa;
}
.field {
  position: relative;
  margin-right: 30px;
}
.field:not(:last-child) .value::before {
  position: absolute;
  content: ":";
  right: -20px;
  font-size: 43px;
}
.value {
  font-size: 50px;
}

.field:last-child {
  margin-right: 0;
}
